---
import 'vuetify/styles'
import Layout from "../layouts/Layout.astro";
import LpRangeCalculation from "../components/LpRangeCalculation.vue"
import AnnualVolatilityCalculation from '../components/AnnualVolatilityCalculation.vue'
import TradingPositionCalculation from '../components/TradingPositionCalculation.vue';
---

<Layout>
  <div class="">
    <div class="mb-8 bg-primary">
        <h1 class="container px-2 py-4">Using Statistics to Optimize Range Setting for Concentrated Liquidity Providers</h1>
    </div>
  </div>

  <div class="container px-2">

    <div class="bg-tertiary">
      <div class="">
        <LpRangeCalculation client:load/>
      </div>

      <div class="mt-8">
        <AnnualVolatilityCalculation client:load/>
      </div>

      <div class="mt-8">
        <TradingPositionCalculation client:load/>
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  .container {
    max-width: 640px;
    margin: auto;
  }
</style>

<script></script>
